// ------------------------------------------------------------------------------------
// XTS MENUS
// ------------------------------------------------------------------------------------

@if $general {

	.xts-mega-menu-custom-fields {
		display: none;
		overflow: hidden;
		clear: both;
		padding: 0;
	}

} // END IF