// ------------------------------------------------------------------------------------------------
// PAGINATION
// ------------------------------------------------------------------------------------------------

@if $general {

	.xts-pagination {
		display: flex;
		justify-content: center;
		margin: 15px 0 0 0;

		li {
			display: flex;
			margin: 0;
			line-height: 1;

			a {
				position: relative;
				display: block;
				padding: 10px;
				min-width: 30px;
				color: var(--xts-default-color);
				text-align: center;
				font-weight: 600;

				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: calc(50% - 8px);
					width: 16px;
					height: 3px;
					border-radius: var(--xts-brd-radius);
					background-color: var(--xts-primary-color);
					opacity: 0;
					transition: all .2s ease;
				}
			}

			&:not(:last-child) {
				margin-right: 4px;
			}

			&.xts-current,
			&:hover {

				a {
					color: var(--xts-primary-color);

					&:before {
						opacity: 1;
					}
				}
			}

			&.xts-current {
				pointer-events: none;
			}
		}
	}

} // END IF